<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem; background-color: #fafcfa; border-radius:8px; margin-top: 20px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${card.product.name}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${card.product.getCategory().name()}"></h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${card.product.description}"></h6>
                    <img th:if="${card.product.picture == null}" src="images/accountAvatar.png" class="card-img-top">
                    <img th:if="${card.product.picture != null}" th:src="${card.product.picture}" class="card-img-top">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Price: ' + ${card.product.price}"
                        style="background-color:#fafcfa "></li>
                    <li th:if="${card.product.reservedStatus == false && card.product.saleStatus == true}"
                        class="list-group-item">
                        <a th:href="@{/basket/add/{id}(id = ${card.product.id})}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Reserved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>